.theme-dark .#{$clp}-markup {
    code.inline {
        background-color: $background-light;
    }

    pre {
        background-color: $background-dark;
        border-style: none;

        @if $min-code-scrollbar {
            max-height: $min-code-scrollbar;
            overflow: auto;

            @include scrollbar;
        }

        code {
            $comment: #5B6268;

            white-space: pre;
            color: $text-light;
            background-color: $background-dark;

            div {
                overflow-x: auto;
                @include scrollbar;
            }

            .powercord-codeblock-lang,
            .powercord-codeblock-copy-btn {
                background-color: $background-very-dark;
                border-bottom-style: none;
                color: $text-light;
            }

            .powercord-lines::after {
                color: $comment;
                border-right-color: $background-dark;
                left: 5px;
            }

            .hljs-comment, .hljs-quote {
                color: $comment;
                font-style: italic;
            }

            .hljs-doctag,
            .hljs-keyword,
            .hljs-formula {
                color: #C678DD;
            }

            .hljs-section,
            .hljs-name,
            .hljs-selector-tag,
            .hljs-deletion,
            .hljs-subst {
                color: #E06C75;
            }

            .hljs-literal {
                color: #56B6C2;
            }

            .hljs-string,
            .hljs-regexp,
            .hljs-addition,
            .hljs-attribute,
            .hljs-meta-string {
                color: #98C379;
            }

            .hljs-built_in,
            .hljs-class .hljs-title {
                color: #E6C07B;
            }

            .hljs-attr,
            .hljs-variable,
            .hljs-template-variable,
            .hljs-type,
            .hljs-selector-class,
            .hljs-selector-attr,
            .hljs-selector-pseudo,
            .hljs-number {
                color: #D19A66;
            }

            .hljs-symbol,
            .hljs-bullet,
            .hljs-link,
            .hljs-meta,
            .hljs-selector-id,
            .hljs-title {
                color: #61AEEE;
            }

            .hljs-emphasis {
                font-style: italic;
            }

            .hljs-strong {
                font-weight: bold;
            }

            .hljs-link {
                text-decoration: underline;
            }
        }
    }
}
