.theme-dark .#{$clp}-members {
    background-color: $background-dark;
    @include scrollbar;

    .#{$clp}-membersGroup {
        color: $text-light;
    }

    .#{$clp}-member {
        .#{$clp}-content {
            background-color: transparent;
        }

        &:hover,
        &.popout-open .#{$clp}-content {
            background-color: $background-lighter1;
        }

        &.#{$clp}-memberOnline {
            color: $text-light;
        }

        &.#{$clp}-memberOffline {
            color: $text-medium;
        }

        .#{$clp}-activity {
            color: $text-medium;

            .#{$clp}-activityIconForeground {
                fill: $text-medium;
            }
        }
    }
}
