@mixin scrollbar {
    &::-webkit-scrollbar {
        background-color: transparent !important;
        width: 9px;
        height: 9px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background-light !important;
        border-radius: 7px !important;
        border-style: none !important;
    }

    &::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar-track-piece {
        display: none;
    }
}

@mixin scrollbar-thin {
    @include scrollbar;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
}
