.theme-dark {
    .#{$clp}-title {
        color: $text-light;
    }

    .#{$clp}-chat .#{$clp}-title {
        background-color: $background-dark;
        box-shadow: none;

        .#{$clp}-icon {
            color: $text-light;
        }

        .#{$clp}-divider {
            background-color: $background-lighter1;
        }

        .#{$clp}-topic {
            color: $text-medium;
        }

        .#{$clp}-children::after {
            display: none;
        }

        .#{$clp}-searchBar {
            color: $text-light;
            background-color: $background-light;

            .public-DraftEditorPlaceholder-root {
                color: $text-medium;
            }
        }
    }
}
